*{
  font-family: "Sans";
}
@font-face{
  font-family: "Sans";
  src:url(fonts/Philosopher-BoldItalic.ttf);
}


body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3a71a5;
  transition: 0.5s;

  background: linear-gradient(rgba(55, 49, 80, 0.8), rgba(1, 3, 56, .4)), url(tenor.gif);
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

body.active {
background-color: #c76284;

}
.container {
  width: 800px;
  height: 500px;
  padding: 40px 0;
  position: relative;
}

.block {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.089);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}

.block__item {
  width: 50%;
}

/* Элементы блока */

.block-item {
    text-align: center;
}

.block-item__title {
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  margin-bottom: 10px;
}

.block-item__btn {
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  font-weight: 500;
}

/* Блок формы */

.form-box {
  height: 95%;
  width: 50%;
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;

  transition: 0.5s ease-in-out ;

  display: flex;
  align-items: center;

  overflow: hidden;
}

.form-box.active {
  left: 50%;
}

/* Форма */

.form {

width: 100%;
padding: 50px;
font-size: 16px;

position: absolute;
transition: 0.5s;
}

.form_signin {
  left: 0;
  transition-delay: 0.25s ;
}

.form_signup {
  left: 100%;
  transition-delay: 0s ;
}

.form-box.active .form_signin {
  left: -100%;
  transition-delay: 0s
}

.form-box.active .form_signup {

  left: 0;
  transition-delay: 0.25s
}


.form__title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #333;
}

.form__input {
width: 50%;
padding: 10px;
border: solid 1px #333
}

.form__btn {
border: none;
cursor: pointer;
font-size: inherit;
background-color: #3a71a5;
color: #fff;
padding: 10px 50px;
}

.form__btn__signup {
  background-color: #c76284;
}

.form__forgot {
color: #333;
}

@media (max-width: 992px) {
  .container {
    max-width: 400px;
    height: 650px;
    padding: 0;
    margin: 0 20px;
  }

}


/* Навигация */

.navigation {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	margin: 0 auto;
	top: 8%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
}

.menu {
	display: flex;
}

.nav {
	display: flex;
	list-style: none;
  
}

.nav li a {
	color: #fff;
	text-decoration: none;
	margin: 0 30px 0 0;
	font-size: 18px;
}

.icon li a {
	margin: 0 20px 0 0;
}

.logo {
	font-size: 40px;
	font-family: 'Quicksand', sans-serif;
	color: #3a71a5;
}

.link {
	transition: .3s;
}

.link:hover {
	color: #3a71a5;
}
